
    .table-hover tbody tr:hover {
        background-color: #f1f1f1; /* Light grey color on hover */
    }

    .btn:hover {
        transform: scale(1.05); /* Slight zoom effect on hover */
        transition: transform 0.2s ease-in-out;
    }

    .dropdown-toggle:focus {
        box-shadow: none; /* Remove focus outline */
    }

    .table td, .table th {
        vertical-align: middle; /* Center align cell content */
    }